<a href="https://colab.research.google.com/github/SarayuBurugu/Application-of-data-mining/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
col_data = {'Color': ['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']}
df_col = pd.DataFrame(col_data)

In [13]:
one_hot_encoded= pd.get_dummies(df_col, columns = ['Color'],prefix='Color')
print(one_hot_encoded)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_White  Color_Yellow
0        False       False        False       True        False         False
1        False       False         True      False        False         False
2        False        True        False      False        False         False
3        False       False        False      False        False          True
4         True       False        False      False        False         False
5        False       False        False      False         True         False

In [14]:
one_hot_encoded=one_hot_encoded.astype(int)
print(one_hot_encoded)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_White  Color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder = LabelEncoder()

In [17]:

df_col['Color'] = label_encoder.fit_transform(df_col['Color'])
print(df_col)

   Color
0      3
1      2
2      1
3      5
4      0
5      4

In [18]:
one_hot_encoded = pd.get_dummies(df_col['Color'],prefix='Color')

In [19]:
one_hot_encoded = one_hot_encoded.astype(int)

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
label_encoder = LabelEncoder()

In [23]:
df_col['Color_Label'] = label_encoder.fit_transform(df_col['Color'])

In [24]:
df_col['Color_Label']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color_Label, dtype: int64

In [25]:
df_col['Color']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color, dtype: int64

In [20]:
print(one_hot_encoded)

   Color_0  Color_1  Color_2  Color_3  Color_4  Color_5
0        0        0        0        1        0        0
1        0        0        1        0        0        0
2        0        1        0        0        0        0
3        0        0        0        0        0        1
4        1        0        0        0        0        0
5        0        0        0        0        1        0

In [3]:
df=pd.read_csv('titanic.csv')

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df['Gender']=le.fit_transform(df['Sex'])

In [8]:
df['Gender']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Gender, Length: 891, dtype: int64

In [9]:
one_hot_encoded = pd.get_dummies(df['Sex'], prefix='Sex')

In [10]:
one_hot_encoded=one_hot_encoded.astype(int)

In [11]:
one_hot_encoded

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
886           0         1
887           1         0
888           1         0
889           0         1
890           0         1

[891 rows x 2 columns]

In [26]:
emp = pd.read_csv('/content/EMP_SAL.csv')

In [27]:
emp

           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [28]:
emp['salary'] = emp['BASIC_PAY'] + emp['HRA'] + emp['DA'] - emp['TAX']

In [29]:
emp['salary']

0      88200
1      93300
2      98400
3     103500
4     108600
5     113700
6     118800
7     123900
8     129000
9     134100
10    139200
11    144300
12    149400
13    154500
Name: salary, dtype: int64

In [31]:
from datetime import datetime

In [30]:
emp['DOB'] = pd.to_datetime(emp['DOB'], dayfirst=True)

In [32]:
today = datetime.today()

In [33]:
emp['age'] = today.year - emp['DOB'].dt.year

In [34]:
emp['age']

0     21
1     23
2     25
3     27
4     29
5     31
6     33
7     35
8     37
9     39
10    41
11    43
12    45
13    47
Name: age, dtype: int32